.container{
    display: flex;
    background-color: #ccc;
    flex-direction: row;
    justify-content: space-around;
    height: 600px;
}
.container div{
    width: 15%;
    height: 15%;
    background-color: red;
    margin:10px;
    padding:10px;
}