:root{
    --main-font-color:#727272;
    --primary-blue-color:#39aaE1;
    --secondary-blue-color:#0079c7;
    --terciary-blue-color:#2b4c99;
}

body{
    margin:0;
    padding:0;
    font-family: Arial;
}
header{
    display:flex;
    justify-content: center;
    height: 120px;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
}
nav ul, nav li{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding:0;
}
nav ul{
    display: flex;
}
nav a{
    display: block;
    padding: 15px;
    color:var(--main-font-color);
    text-decoration: none;
    text-transform: uppercase;

}
nav .active a, nav a:hover{
    background-color: var(--primary-blue-color);
    color: white;
}
#banner{
    background-image:url("../img/img1.jpg");
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}
.column{
    flex-direction: column;
}
.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1{
    color: white;
    font-size: 70px;
    text-shadow: 0 1px 0 #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.banner_headline h2{
    color: white;
    font-size: 21px;
    text-shadow: 0 1px 0 #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}
.banner_option{
    height: 210px;
    display: flex;

}
.banner1,.banner2,.banner3 {
    flex: 1;
    color: white;
    padding: 20px;
}
.banner1{
    background-color: var(--primary-blue-color);
}
.banner2{
    background-color: var(--secondary-blue-color);
}
.banner3{
    background-color: var(--terciary-blue-color);

}
.banner_title{
    font-size: 21px;
}
.banner_description{
    font-size: 14px;
    margin-top: 20px;

}
.banner_option a{
    color: white;
    display: inline-block;
    padding: 5px;
    border: 1px white solid;
    font-size: 12px;
    text-decoration: none;
    margin-top: 25px

}
.containerDate{

}
.schedule,.schedule1,.schedule2{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}
#geral{
    display: flex;
    justify-content: center;

}
#geral section{
    flex: 2;
}
#geral aside{
    flex: 1;
}
.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}
.widget_title_text{
    color: black;
    font-size: 21px;
    font-weight: bold;
}
.widget_title_bar{
    height: 2px;
    width: 50px;
    margin-top: 10px;
    background-color: var(--primary-blue-color);
}
.widget_body{
}

.widget_body1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.square1{
    display: flex;
    width: 140px;
    height: 140px;
    background-color: var(--primary-blue-color);
    margin-top: 30px;
}

.widget_body2{
    padding-bottom: 20px;
}
.address,.address1,.address2{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}
.address2 a{
    text-decoration: none;
    color: var(--secondary-blue-color)
}

.flex{
    display: flex;
    flex-wrap: wrap;
}
article {
    flex:1;
    min-width: 300px;
    margin-right: 20px;
}
article a{
    text-decoration: none;
}
article .news_data{
    display:flex;
}
article .news_posted_at{
    background-color: #2b4c99;
    color:white;
    font-size: 12px;
    padding: 10px;
    margin-right: 2px;
}
article .news_comments{
    background-color: #39aaE1;
    color:white;
    font-size: 12px;
    padding: 10px;
}
article .news_thumbnail img{
    width: 100%;
    height: auto;
    margin-top: 30px;
}
article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    color: black;
    font-size: 23px;
}

article .resume{
    margin-bottom: 25px;
    color: #5c5c5c;
    line-height: 20px;
    font-size: 14px;
}

footer{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    color: white;
}

.flexColumn{
    flex-direction:column;
}
.footer_menu{
    display: flex;
}
.fm1, .fm2, .fm3{
    flex: 1;
    color: white;
    padding: 20px;
}
.fm1{
    background-color: var(--primary-blue-color);
}
.fm2{
    background-color: var(--secondary-blue-color);
}
.fm3{
    background-color: var(--terciary-blue-color);

}
footer .widget_title_text{
    color: white;
}
.footer_area{
    color: #FFFFFF;
    display: flex;
}
.footer_areaitem{
    flex: 1;
}
.footer_copy{
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;

}

.containerDate{

}
.footer1s {
    display: flex;
    justify-content: space-between;
    line-height: 18px;
    color: #5c5c5c;
    margin-right: 10px;
    font-size: 13px;
}
.footer1s p a{
    text-decoration: none;
    color: white;
}
.footer_areaitem .post{
    margin-top: 20px;
    font-size: 13px;
}

.footer_areaitem .post_time{
    margin-top: 2px;
    font-size: 13px;
    color: var(--secondary-blue-color);
}